/* Fondo específico de la página start */
.start-page {
    background: url(/assets/img/bg-purple-texture.png) no-repeat top center / cover;
  }
  
  /* Header exclusivo de la página start */
  .start-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-m) var(--space-s);
    position: relative;
  }
  

/* Contenedor que permite la superposición */
.start-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    /*max-width: 1200px;*/
    margin: 0 auto;
    background: url(/assets/img/entrada.jpg) center center / cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* Imagen central */
  .start-illustration {
    width: 100%;
    display: block;
  }
  
  /* Card superpuesto */
  .start-card {
    max-width: 600px;
    background: rgba(202, 168, 116, 0.9); /* dorado con transparencia */
    padding: 1rem;
    margin-bottom: 250px;
    border-radius: 15px;
    text-align: center;
  }
  
  .start-card p {
    font-size: 24px;
    font-family: Lato, sans-serif;
    color: var(--black);
  }

    /* Button outline */
  .btn-outline {
    background-image: url(/assets/img/gray-bg.png);
    
  }
  
  .btn-outline:hover {
    color: var(--white);
  }



